/*css styles for the todo module*/
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #DCE1E3;
}

h1 {
  text-align: center;
}

form div{
  padding:20px;
}

.input {
  padding-left:10px;
  width:30%;
  height:30%;
}

label {
  padding-right:10px;
  font-style:italic;
}

.todo-list {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 500px;
  min-height:100px
}

.todo {
   background: #fff;
   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
   padding: 3px 10px;
   font-size: 12px;
   margin-bottom: 6px;
   border-radius: 3px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
